html,
body {
  height: 100%;
  overflow-y: auto;
}
.main {
  padding-bottom: 1.33333333rem;
}
.top {
  height: 0.53333333rem;
  background: #fff;
  padding: 0 0.4rem;
  margin-top: 0.8rem;
  position: relative;
  z-index: 999;
  background: none;
}
.bell {
  width: 0.45333333rem;
  height: 0.72rem;
  float: right;
  position: relative;
  margin-left: 0.34666667rem;
}
.bell a {
  display: block;
  line-height: 0.72rem;
  float: right;
}
.bell .icon-bell {
  display: block;
  font-size: 0.50666667rem;
  color: #fff;
}
.bell .count {
  position: absolute;
  width: 0.21333333rem;
  height: 0.21333333rem;
  background: #E8040A;
  color: #fff;
  text-align: center;
  line-height: 0.21333333rem;
  border-radius: 50%;
  font-size: 0.16rem;
  top: 0.06666667rem;
  right: 0.02666667rem;
}
.header {
  width: 100%;
  height: 6.66666667rem;
  overflow: hidden;
  position: relative;
  background: #fff;
}
.header .bg {
  width: 26.66666667rem;
  height: 26.66666667rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -13.33333333rem;
  z-index: 9;
  overflow: hidden;
}
.header .bgImg {
  /* width:200%;
	height:200%;
	left:50%;
	top:50%;
	margin:-100% 0 0 -100%; */
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  opacity: 0.1;
}
.header .userBox {
  margin: 0.26666667rem auto 0;
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.header .userBox .integral,
.header .userBox .vip {
  width: 40%;
}
.header .userBox > div {
  display: inline-block;
}
.header .userBox p {
  text-align: center;
}
.header .userBox .txtInfo {
  font-size: 0.35rem;
  color: #fff;
  margin-top: 0.2rem;
}
.header .userBox .txtInfo span {
  font-size: 0.24rem;
  color: #fff;
}
.header .userBox .iconfont {
  font-size: 0.58666667rem;
  color: #fff;
  margin-top: 0.4rem;
}
.header .userImg {
  width: 2rem;
  height: 2rem;
  background: #8BC2BF;
  border-radius: 50%;
  overflow: hidden;
}
.header .userImg img {
  display: block;
  width: 100%;
  height: 100%;
}
.header .name,
.header .dataDesc {
  font-size: 0.42666667rem;
  color: #fff !important;
  text-align: center;
  margin-top: 0.42666667rem;
  position: relative;
  z-index: 99;
}
.header .name span {
  color: #fff;
}
.header .dataDesc {
  font-size: 0.24rem;
  margin-top: 0.34666667rem;
}
.header .dataDesc .iconfont,
.header .dataDesc span {
  font-size: 0.24rem;
  color: #fff;
}
.header .dataDesc span:first-child {
  padding-right: 0.32rem;
  border-right: 1px solid #fff;
  margin-right: 0.32rem;
}
.listBox {
  padding: 0.8rem 0;
  background: #fff;
  position: relative;
}
.listBox ul {
  width: 100%;
  height: 3.12rem;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.listBox li {
  width: 30%;
  float: left;
  margin-bottom: 0.8rem;
}
.listBox li .iconfont {
  font-size: 0.56rem;
}
.listBox li .name {
  margin-top: 0.32rem;
  font-size: 0.4rem;
}
.listBox li p {
  text-align: center;
}
.itemList {
  padding-bottom: 0.4rem;
}
.itemList ul {
  margin-top: 0.26666667rem;
  padding: 0 0.4rem;
  background: #fff;
}
.itemList ul li {
  padding: 0.4rem 0;
  border-bottom: 1px solid #f6f6f6;
}
.itemList ul li a {
  width: 100%;
  height: 0.66666667rem;
  display: block;
  line-height: 0.66666667rem;
}
.itemList ul li .iconfont {
  width: 0.8rem;
  display: inline-block;
  font-size: 0.42666667rem;
  float: left;
}
.itemList ul li .rightArrow {
  float: right;
}
.itemList ul li span {
  font-size: 0.4rem;
  float: left;
}
.uploadBox {
  width: 92%;
  left: 50%;
  margin-left: -46%;
  position: fixed;
  bottom: -3.66666667rem;
}
.uploadBox .list {
  padding: 0 0.4rem;
  background: #fff;
  border-radius: 0.2rem;
}
.uploadBox div:first-child {
  margin-bottom: 0.26666667rem;
}
.uploadBox .list label {
  padding: 0.29333333rem 0;
  display: block;
  font-size: 0.4rem;
  text-align: center;
  position: relative;
}
.uploadBox .list label input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  opacity: 0;
}
.uploadBox .list a {
  padding: 0.29333333rem 0;
  display: block;
  font-size: 0.4rem;
  text-align: center;
}
.uploadBox .line {
  border-bottom: 1px solid #f6f6f6;
}
#exitBox .line {
  font-size: 0.29333333rem;
}
#exit {
  font-size: 0.4rem;
  color: #e8040a;
}
.msgBox {
  width: 92%;
  position: absolute;
  top: 35%;
  left: 50%;
  margin: -2rem 0 0 -46%;
  background: #fff;
  border-radius: 0.24rem;
  z-index: 999;
  display: none;
}
.msgBox h2 {
  text-align: center;
  font-size: 0.4rem;
  margin-top: 0.53333333rem;
}
.msgBox .desc {
  text-align: center;
  font-size: 0.24rem;
  margin-top: 0.26666667rem;
  padding: 0 0.13333333rem;
}
.msgBox .list {
  height: 2.8rem;
  padding: 0 0.4rem;
  margin-top: 0.4rem;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.msgBox .list li {
  width: 2.56rem;
  height: 2.8rem;
  float: left;
  position: relative;
  box-shadow: 0 0 0.08rem 0.01333333rem rgba(204, 204, 204, 0.5);
}
.msgBox .list li h3 {
  text-align: center;
  font-size: 0.32rem;
  margin-top: 0.8rem;
}
.msgBox .list li p {
  text-align: center;
  font-size: 0.24rem;
  margin-top: 0.4rem;
  color: #e8040a;
}
.msgBox .list li > a {
  position: absolute;
  width: 1.2rem;
  height: 0.48rem;
  background: #9A9A9A;
  border-radius: 0.48rem;
  left: 50%;
  bottom: -0.24rem;
  margin-left: -0.6rem;
  text-align: center;
  color: #fff;
  line-height: 0.53333333rem;
  font-size: 0.26666667rem;
}
.msgBox .list li .active {
  background: #e8040a;
}
.msgBox .explain {
  margin: 0.53333333rem 0 0.4rem 0;
  font-size: 0.24rem;
  color: #797979;
  text-align: center;
  padding: 0 0.13333333rem;
}
.msgBox .explain a {
  color: #e8040a;
  display: inline-block;
}
.tipsBox {
  display: none;
}
